<footer class="footer-container ">
	<div class="container-fluid container-lg">
		<div class="d-flex flex-column flex-lg-row justify-content-between">
			<div class="d-block footer-title font-3rem mb-1">
				<span class=" brushscript ">Chris Sedgeman</span>
				<div class="scaffolding font-pink">SCAFFOLDING <span class="ltd">LTD</span></div>
			</div>


			<div class="social-icons">
				<a href="https://www.linkedin.com" target="_blank" class="withslash">
					<i class="fa-brands fa-linkedin css-iconsizing"></i></a>

				<a href="https://www.facebook.com" target="_blank" class="withslash"><i
						class="fa-brands fa-facebook css-iconsizing "></i></a>

				<a href="https://www.youtube.com" target="_blank" class="withslash"><i
						class="fa-brands fa-youtube css-iconsizing "></i></a>

				<a href="https://www.instagram.com" target="_blank" class="withslash"><i
						class="fa-brands fa-instagram css-iconsizing "></i></a>

				<a href="https://www.tiktok.com" target="_blank" class="">
					<i class="fa-brands fa-tiktok css-iconsizing "></i></a>
			</div>

		</div>


		<div class="row mt-2">
			<div class="col-12 col-lg-3">
				<div class="d-block text-center w-100 p-2 expand-image">
					<img src="/media/zmxknfyo/minestackfooter.png" alt="Mine Image" class="img-mine">
				</div>
			</div>
			<div class="col-12 col-md-4 col-lg-3 text-center text-lg-start">
				<div class="footer-textcol">
					<address>Unit 2A<br>Longrock Industrial Estate<br>Penzance<br>Cornwall<br>TR20 8HX</address>
				</div>
			</div>
			<div class="col-12 col-md-4 col-lg-3 text-center text-lg-start">
				<div class="footer-textcol">
					<p> 01736 364562<br> <a
							href="mailto:enquiries@sedgeman.co.uk">enquiries@sedgeman.co.uk</a></p>
				</div>
			</div>
			<div class="col-12 col-md-4 col-lg-3 text-center text-lg-start">
				<div class="footer-textcol">
					<a href="/about-us/cookie-policy/">Cookies Policy</a> <br> <a href="/about-us/privacy-policy/">Privacy Policy</a>
				</div>
			</div>

			<!-- Full-width row for copyright -->
			<div class="col-12 text-center mt-n1 pt-0">
				<div class="footer-textcol">
					&copy; Chris Sedgeman Scaffolding Ltd 2024
				</div>
			</div>
		</div>

	</div>
</footer>
