<div class="row">
    <div class="col-6">
<p>more projects</p>
</div>
<div class="col-6">
   <a href="#" class="btn btn-outline-secondary"> See all projects</a>
    </div>
</div>

<div class="row">
    <div class="col-3"><img src="/media/i0oe4pby/untitled-1.png" class="img-fluid"></div>
       <div class="col-3"><img src="/media/i0oe4pby/untitled-1.png" class="img-fluid"></div>
          <div class="col-3"><img src="/media/i0oe4pby/untitled-1.png" class="img-fluid"></div>
             <div class="col-3"><img src="/media/i0oe4pby/untitled-1.png" class="img-fluid"></div>
</div>

<div class="row">
    <div class="col-4">
        <div class="card">
            <img src="" class="img-fluid">
            <p>abc</p>
            <p>xyz</p>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <img src="" class="img-fluid">
            <p>abc</p>
            <p>xyz</p>
        </div>
    </div>
       <div class="col-4">
        <div class="card">
            <img src="" class="img-fluid">
            <p>abc</p>
            <p>xyz</p>
        </div>
    </div>
</div>

async @Html.PartialAsync("moreprojects")
