<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <!-- Logo / Brand -->
    <a class="navbar-brand" href="#">Chris Sedgeman</a>

    <!-- Navbar Toggle Button (for mobile menu) -->

    <!-- GET A QUOTE Button (Always Visible) -->
    <div class="d-flex d-lg-none justify-content-between w-100 mx-3">


        <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-button d-inline-block d-lg-none pr-3">
            <a href="/contact-us" class="quote-btn ">GET A QUOTE</a>
        </div>
    </div>

    <!-- Collapsible Menu -->
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-links navbar-nav ms-auto">
            <li class="nav-item my-lg-2"><a class="nav-link" href="/">Home</a></li>
            <li class="nav-item my-lg-2"><a class="nav-link" href="/portfolio">Portfolio</a></li>

            <!-- Dropdown for Services -->
            <li class="nav-item dropdown my-lg-2">
                <a class="nav-link dropdown-toggle" href="/services" id="servicesDropdown" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Services
                </a>
                
                <ul class="dropdown-menu" aria-labelledby="servicesDropdown">
                    <li><a class="dropdown-item" href="/services">A-Z Services List</a></li>
                    <li><a class="dropdown-item" href="/services/access-scaffolding/">Access Scaffolding</a></li>
                     <li><a class="dropdown-item" href="/services/birdcage/">Birdcages</a></li>
                    <li><a class="dropdown-item" href="/services/building-sites/">Building Sites</a></li>
                    <li><a class="dropdown-item" href="/services/chimney-maintenance/ "> Chimney Maintenance</a></li>
                    <li><a class="dropdown-item" href=" /services/fascia/"> Fascia</a></li>
                    <li><a class="dropdown-item" href=" /services/gutters/"> Gutters</a></li>
                    <li><a class="dropdown-item" href="/services/general-purpose/ ">General Purpose </a></li>
                    <li><a class="dropdown-item" href=" /services/new-builds/"> New Builds</a></li>
                    <li><a class="dropdown-item" href="/services/pier-works/ ">Pier Works </a></li>
                    <li><a class="dropdown-item" href="/services/painting-decorating/">Painting & Decorating </a></li>
                    <li><a class="dropdown-item" href="/services/railway-maintenance/ ">Railway Maintenance </a></li>
                    <li><a class="dropdown-item" href=" /services/support-scaffolding/"> Support Scaffolding </a></li>
                    <li><a class="dropdown-item" href="/services/solar-panel-installation/"> Solar Panel Installation</a></li>
                    <li><a class="dropdown-item" href=" /services/temporary-roofing/"> Temporary Roofing </a></li>
                    <li><a class="dropdown-item" href="/services/temporary-walkways/ ">Temporary Walkways </a></li>
                    <li><a class="dropdown-item" href="/services/tower-scaffolds/ ">Tower Scaffolds </a></li>
                    <li><a class="dropdown-item" href="/services/walls/ "> Walls</a></li>
                    <li><a class="dropdown-item" href="/services/windows-doors/ ">Windows & Doors </a></li>

                    <li><a class="dropdown-item" href=" "> </a></li>
                </ul>
            </li>

            <li class="nav-item my-lg-2"><a class="nav-link" href="/blog">Blog</a></li>
            <li class="nav-item my-lg-2"><a class="nav-link" href="/about-us">About Us</a></li>
            <li class="nav-item my-lg-2"><a class="nav-link" href="/contact-us">Contact Us</a></li>
            <li class="nav-item d-none d-lg-inline my-lg-2">
                <a href="/contact-us" class="nav-link nav-link-quote">Get a Quote</a>
            </li>
        </ul>

</nav>

<!--  <div class="container d-flex justify-content-between align-items-center">
     -->