@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "master.cshtml";

}


<div class="hero-image text-center">
	<img src="/media/apcbspka/contacthero2.png" alt="TESTER" class="img-fluid">
	<div class="contacthero-text ">

	</div>
</div>

<div class="container centeritem">
	<div class="container">
		<div class="row my-5 justify-content-center">
			<!-- Left: Image Section -->
			<div class="col-lg-4 col-md-12 text-center text-lg-start">
				<img src="/media/fglf1tnx/transparent-email-icon.png" alt="Email Icon" class="shrink-image">
				<h2>OUR CONTACT INFORMATION</h2>
				<p>Want to know more? Just get in touch.</p>
			</div>

			<!-- Right: Contact Details -->
			<div class="col-lg-8 col-md-12 d-flex justify-content-center">
				<div class="contact-box text-center p-4 w-100 ">
					<p><strong>Telephone:</strong> <a href="tel:01736364562">01736 364562</a></p>
					<p><strong>Email:</strong> <a href="mailto:enquires@sedgeman.co.uk">enquires@sedgeman.co.uk</a></p>
				</div>
			</div>
		</div>
	</div>

	<div class="contactcustom-hr"></div>


	<!-- Quote, Job Applications, and General Enquiries -->
	<div class="row justify-content-center">

		<div class="col-md-4 col-12 text-center mb-4">
			<img src="/media/bbzj3cjj/transparent-quote-icon.png" class="img-fluid shrink-image">
			<div class="contacttextsize">QUOTE REQUEST FORM</div>
			<div class="d-block mt-2">
				<p>Free quote requests</p>
				<a href="https://www.surveymonkey.com/r/HZN5S3X" target="_blank" class="btn"
					style="background-color: #e6007e; color: #fff;">Quote Form</a>
			</div>
		</div>

		<div class="col-md-4 col-12 text-center mb-4">
			<img src="/media/bbzj3cjj/transparent-quote-icon.png" class="img-fluid shrink-image">
			<div class="contacttextsize">JOB APPLICATIONS</div>
			<div class="d-block mt-2">
				<p>Apply for a job with us</p>
				<a href="https://uk.surveymonkey.com/r/JOBAPP-CSS" target="_blank" class="btn"
					style="background-color: #e6007e; color: #fff;">Apply Now</a>
			</div>
		</div>

		<div class="col-md-4 col-12 text-center mb-4">
			<img src="/media/bbzj3cjj/transparent-quote-icon.png" class="img-fluid shrink-image">
			<div class="contacttextsize">GENERAL ENQUIRIES</div>
			<div class="d-block mt-2">
				<p>Just ask us</p>
				<a href="https://www.surveymonkey.com/r/5VCNXD2" target="_blank" class="btn"
					style="background-color: #e6007e; color: #fff;">
					Contact Us
				</a>

			</div>
		</div>
	</div>
</div>



<div class="contactcustom-hr"></div>

<div class="container">
	<div class="row my-5">
		<!-- Text Section -->
		<div class="col-lg-4 col-md-12 text-center text-lg-start">
			<img src="/media/q0bbrjcr/transparent-location-icon.png" alt="Location Icon" class="  shrink-image">


			<h2>YOU'LL FIND US HERE</h2>
			<p>Drop by and find out more or pay in person.</p>
		</div>

		<!-- Map Section -->
		<div class="col-lg-8 col-md-12 map-container">
			<iframe
				src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d319.71541843555815!2d-5.506150899454967!3d50.1288986084891!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x486ac4a21fe32f0f%3A0x7b561f713c3c5ffa!2sChris%20Sedgeman%20Scaffolding%20Ltd!5e0!3m2!1sen!2suk!4v1730813630133!5m2!1sen!2suk"
				allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
			</iframe>
		</div>
	</div>
</div>




<div class="contactcustom-hr"></div>

<h2 class="text-center">Leave Us a Review</h2>

<div class="reviewcontainer">

	<a href="https://www.yell.com/biz/chris-sedgeman-scaffolding-ltd-penzance-901054625/" class="reviewbox"
		target="_blank">
		<img src="/media/pjcflcca/yell-square-icon_.png" alt="Yellow Pages">
		<span>Yellow Pages</span>
	</a>

	<a href="https://www.surveymonkey.com/r/HPWJ2DX" class="reviewbox" target="_blank">
		<img src="/media/5yyfwsog/survey-mockey_.png" alt="Survey Monkey icon">
		<span>Survey Monkey </span>
	</a>


	<button class="reviewbox centeritem">
		<img src="/media/vwafzgux/google-reviews.png" alt="Google Reviews">
		<span>Google Reviews</span>
	</button>
</div>




<div class="contactcustom-hr"></div>


<div class="container">
	<div class="row my-5">
		<div class="col-12">
			<h2 class="text-center">FOLLOW OUR SOCIALS FOR UPDATES</h2>
		</div>
	</div>
</div>

<div class="social-media-icons">
	<div class="icon-container">
		<a href="https://www.instagram.com/chrissedgemanscaffolding?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="
			target="_blank">
			<i class="fa-brands fa-instagram css-iconsizing"></i>
		</a>
		<a href="https://www.facebook.com/profile.php?id=100063778800541&locale=en_GB" target="_blank">
			<i class="fa-brands fa-facebook css-iconsizing"></i>
		</a>
		<a href="https://uk.linkedin.com/company/chrissedgemanscaffolding" target="_blank">
			<i class="fa-brands fa-linkedin css-iconsizing"></i>
		</a>
		<a href="https://x.com/CSedgemanScaff" target="_blank">
			<i class="fa-brands fa-twitter css-iconsizing"></i>
		</a>
		<a href="https://www.youtube.com/channel/UCvh37Ct1NRuCt8PiCv5OALg/playlists" target="_blank">
			<i class="fa-brands fa-youtube css-iconsizing"></i>
		</a>
		<a href="https://www.tiktok.com/explore" target="_blank">
			<i class="fa-brands fa-tiktok css-iconsizing"></i>
		</a>

	</div>

</div>
