@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core.Models.PublishedContent
@{
   	Layout = "policies.cshtml"; 
}
@{
	var privacyPolicyPage = Umbraco.Content(Guid.Parse("dade31f9-2d92-404a-a51c-13360ec65e47"));
}

@if (privacyPolicyPage != null)
{
    <h1>@privacyPolicyPage.Name</h1>
    <div>
        @privacyPolicyPage.Value("projectmainbodytext")  <!-- Adjust this to match your field alias -->
    </div>
}
else
{
    <p>Privacy Policy not found.</p>
}
