  <div class="container-for-text hover-image">
        <a href="/portfolio/project-2024-stmichaels-mount/" target="_blank">
          <img src="/media/jz4l25cx/screenshot-2024-10-24-at-155752.png" alt="St.Michael's Mount 2024 Scaffolding">
          <div class="centered-text-for-image centered-text-for-image-white">
            2024 <br> St.Michael's Mount
          </div>
        </a>
      </div>


      <div class="container-for-text hover-image">
        <a href="/portfolio/project-2024-stmichaels-mount/" target="_blank">
          <img src="/media/03ng1qgv/screenshot-2024-12-10-at-105659.png" alt="Shining Stars Image">
          <div class="centered-text-for-image-white">
            2014 <br> Dawlish Railways</div>
        </a>
      </div>

      <div class="container-for-text hover-image">
        <img src="/media/0oqfdz1z/screenshot-2024-10-24-at-160128.png" alt="A River Flowing Image">
        <div class="centered-text-for-image centered-text-for-image-white">2024 <br> Lloyds Background Penzance</div>
      </div>

      <div class="container-for-text hover-image">
        <img src="/media/y2zbjzdo/2012-10-27-220257.jpg" alt="A Cloudy Mountain Image">
        <div class="centered-text-for-image centered-text-for-image-white">2024 <br> GWR Penzance Depot</div>
      </div>

      <div class="container-for-text hover-image">
        <img src="/media/pvwjxmqr/project-slam-rnas-culdrose.jpg" alt="A Clean Mountain Lake">
        <div class="centered-text-for-image centered-text-for-image-white">2024 <br> Creative Hub Penzance </div>
      </div>

 

	

<section class="latest-articles">
	<h2>Today Latest Articles <a href="#">View All</a></h2>
	<div class="blog-container">
		RenderBlogSection(latest)
	</div>
</section>





<div class="blog-footer">
	<a href="#" class="explore-btn">Explore more articles and latest News</a>
</div>

<hr class="custom-hr">

<div class="row text-center g-0 mt-0">

	<div class="col-12 col-sm-4">


		<div id="xyz" name="xyz" class="card border-0">
			<div style="max-width: 150px; max-height: 150px;margin:2rem auto;">
				<img src="/media/yksbzrfc/quote-icon_150x150.png" class="card-img-top">
			</div>
			<div class="card-body">
				<a href="#xyz" class="footer-btn">QUOTE REQUEST FORM</a>
			</div>
		</div>
	</div>

	<div class="col-12 col-sm-4">

		<div class="card border-0">
			<div style="max-width: 150px; max-height: 150px;margin:2rem auto;">
				<img src="/media/05odxhuj/email_icon_150x150.png" alt="CONTACT INFORMATION" class="card-img-top">
			</div>
			<div class="card-body">
				<a href="/contact-us" class="footer-btn">CONTACT INFORMATION</a>
			</div>
		</div>
	</div>

	<div class="col-12 col-sm-4">
		<div class="card border-0">
			<div style="max-width: 150px; max-height: 150px;margin:2rem auto;">
				<img src="/media/sjmpijdo/map-_icon_150x150.png" class="card-img-top">
			</div>

			<div class="card-body">
				<a href="/contact-us" class="footer-btn">YOU'LL FIND US HERE</a>
			</div>
		</div>
	</div>
</div>